---
layout: development_tracking
title: Developments
permalink: /developments/
---
{% include browse_by_phase.html %}

<h1>All Developments</h1>
{% assign developments_by_units = site.developments | sort: "units" %}

<table>
  <th>Units</th>
  <th>Development</th>
  <th>Status</th>
  {% for development in developments_by_units %}
  <tr>
    <td>{{ development.units }}</td>
    <td><a href="{{ development.url }}">{{ development.title}}</a></td>
    {% if development.phase == 'Under Review' %}
      <td><span class="tag bg-under-review white">{{ development.phase }}</span></td>
    {% elsif development.phase == 'Approved'%}
      <td><span class="tag bg-approved white">{{ development.phase }}</span></td>
    {% elsif development.phase == 'Withdrawn'%}
      <td><span class="tag bg-withdrawn white">{{ development.phase }}</span></td>
    {% endif %}
  </tr>
  {% endfor %}
</table>