---
layout: development_tracking
title: Approved Developments
permalink: /developments/approved/
---
{% include browse_by_phase.html %}

<h1>Approved</h1>

{% assign developments_by_units = site.developments | sort: "units" %}

<table>
  <th>Units</th>
  <th>Development</th>
  <th>Status</th>
  {% for development in developments_by_units %}
  {% if development.phase == "Approved" %}
  <tr>
    <td>{{ development.units }}</td>
    <td><a href="{{ development.url }}">{{ development.title}}</a></td>
    <td>{{ development.phase }}</td>
  </tr>
  {% endif %}
  {% endfor %}
</table>