:root {
  --bg-color: rgb(255, 252, 240); /*#FCFCFC*/
  --text-primary: rgb(16, 15, 15); /* #000000*/
  --font-body: 'Libre Baskerville';
  --font-nav: 'JetBrains Mono';
  --approved-color: #2A81CB;
  --under-review-color: #CAC428;
  --completed-color: #2AAD27;
  --construction-color: #CB8427;
  --withdrawn-color: #7B7B7B;
  --link-bg: #454138;
  --main-font: 'Libre Baskerville';;
  --step--2: clamp(0.6944rem, 0.6438rem + 0.2531vw, 0.84rem);
  --step--1: clamp(0.8333rem, 0.758rem + 0.3768vw, 1.05rem);
  --step-0: clamp(1rem, 0.8913rem + 0.5435vw, 1.3125rem);
  --step-1: clamp(1.2rem, 1.0467rem + 0.7663vw, 1.6406rem);
  --step-2: clamp(1.44rem, 1.2276rem + 1.0622vw, 2.0508rem);
  --step-3: clamp(1.728rem, 1.4374rem + 1.453vw, 2.5635rem);
  --step-4: clamp(2.0736rem, 1.6803rem + 1.9665vw, 3.2043rem);
  --step-5: clamp(2.4883rem, 1.9606rem + 2.6385vw, 4.0054rem);
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.tag {
  display: span;
  text-decoration: none;
  font-family: var(--font-nav);
  font-size: var(--step--1);
  font-style: normal;
  line-height: 1.2rem;
  padding-right: .2rem;
  padding-left: .3rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  border: .1rem solid #000;
  box-shadow: 2px 2px #bbb;
}

.tag-a {
  display: span;
  text-decoration: none;
  font-family: var(--font-nav);
  font-style: normal;
  line-height: 1.2rem;
  padding-right: .2rem;
  padding-left: .3rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  border: .1rem solid #000;
  box-shadow: 2px 2px #bbb;
  background-color: #dcd8c0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: var(--main-font);
  font-size: var(--step-0);
  color: var(--text-primary);
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  line-height: 1.46;
}

ol>li, ul>li {
  padding: 0.15rem 0;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

iframe {
  display: block;
  width: 100%;
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

address {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

h1 {
  font-size: var(--step-3);
  margin-bottom: 0.25em;
}

h2 {
  font-size: var(--step-2);
  margin-bottom: 0.25em;
}

sup { 
  vertical-align: top;
  font-size: var(--step--1);
}

blockquote.info {
  border-left: 12px solid #40cfcd;
  background-color: #e5f8f8;
  padding: 0.1em 1em 0.1em 0;
  margin-left: -1em;
  padding-left: 48px;
  margin-inline-start: 0em;
  margin-inline-end: 0em;
}

blockquote.error {
  border-left: 12px solid rgb(216.56875, 83.4, 78.93125);
  background-color: #fdf7f7;
  padding: 0.1em 1em 0.1em 0;
  margin-left: -1em;
  padding-left: 48px;
  margin-inline-start: 0em;
  margin-inline-end: 0em;
}

/* Nav bar and header*/

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* top | right | bottom | left */
  margin: 1rem 1rem 1.5rem 1rem;
  order: 1;
}

.nav-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-nav);
  border: solid #454138;
  border-width: 0.1rem 0;
  padding: 0 1rem 0 1rem;
}

@media (min-width: 800px) {
  .nav-wrapper {
      flex-direction: row;
      justify-content: space-between;
      max-width: 1000px;
  }
}

.site-title {
  font-size: 2em;
}

.site-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 1 auto;
  font-size: 1.2rem;
  flex-wrap: wrap;
}

.site-nav a {
  text-decoration: none;
  flex-wrap: wrap;
}

.site-nav ul li {
  display: flex;
  text-decoration: none;
  flex-wrap: wrap;
}

.nav-wrapper ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  height: 100%;
}

.current {
  color: #dcd8c0;
  /* top | right | bottom | left */
  padding: .5rem 1rem .5rem 1rem;
  background-color: #454138;
}

.non-current {
  color: #454138;
  /* top | right | bottom | left */
  padding: .5rem 1rem .5rem 1rem;
  background-color: var(--bg-color);
}

.site-nav a:hover {
  text-decoration: none;
  color: #fffff5;
  background-color: #454138;
}

/* Main content pane */

.demo {
  color: #454138;
  background-color: #f1f1f1;
}

.contentv2 {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: min(50ch, 100% - 4rem);
  margin-left: auto;
  margin-right: auto;
  order: 2;
}

.content {
  margin-bottom: 1em;
  --gap: clamp(1rem, 6vw, 3rem);
  --full: minmax(var(--gap), 1fr);
  --content: min(50ch, 100% - var(--gap) * 2);
  --popout: minmax(0, 2rem);
  --feature: minmax(0, 5rem);
  order: 2;
  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [popout-start] var(--popout)
    [content-start] var(--content) [content-end]
    var(--popout) [popout-end]
    var(--feature) [feature-end]
    var(--full) [full-end];
} 

.content > * {
  grid-column: content;
}

.popout {
  grid-column: popout;
}

.feature {
  grid-column: feature;
}

.full {
  grid-column: full;
}


footer {
  background-color: #d1cdb7;
  color: #fff;
  padding: 1.5rem;
  order: 3;
  margin-top: auto;
  -webkit-background-size: 0.3rem 0.3rem;
  -moz-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
  background-image: -webkit-linear-gradient(left, #ccc8b1 1px, rgba(204,200,177,0) 1px), -webkit-linear-gradient(top, #ccc8b1 1px, rgba(204,200,177,0) 1px);
  background-image: -moz-linear-gradient(left, #ccc8b1 1px, rgba(204,200,177,0) 1px), -moz-linear-gradient(top, #ccc8b1 1px, rgba(204,200,177,0) 1px);
  background-image: -o-linear-gradient(left, #ccc8b1 1px, rgba(204,200,177,0) 1px), -o-linear-gradient(top, #ccc8b1 1px, rgba(204,200,177,0) 1px);
  background-image: -ms-linear-gradient(left, #ccc8b1 1px, rgba(204,200,177,0) 1px), -ms-linear-gradient(top, #ccc8b1 1px, rgba(204,200,177,0) 1px);
  background-image: linear-gradient(to right, #ccc8b1 1px, rgba(204,200,177,0) 1px), linear-gradient(to bottom, #ccc8b1 1px, rgba(204,200,177,0) 1px);
}

.innerFooter {
  font-family: var(--font-nav);
  color: #454138;
  background-color: #dcd8c0;
  padding: 1rem;
}

.innerFooter > address {
  display: inline-block;
}

.home-page {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

.blog {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

.blog-list {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

a {
  color: #000000;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  color: #fffff5;
  background-color: #454138;
}

a[target="_blank"]::after {
  content: ''; /* Font Awesome's external link icon */
  background-repeat: no-repeat;
  background-position: right 33%;
  background-size: 0.7em;
  padding-right: 0.75em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2.5' stroke='gray' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25' /%3E%3C/svg%3E%0A");
}

h1 {
  height: auto;
}

.post {
  flex: 1;
  margin-bottom: 1em;
}

.post-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.post-wrapper {
  justify-content: space-between;
  flex-wrap: wrap;

}

.post-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: var(--font-nav);
  font-size: var(--step--1);
  margin-top: 5px;
}

.post-title {
  margin: 0;
  padding: 0;
}

.post b a{
  text-decoration: none;
  font-size: var(--step-0);
}

/* 
Post Header

This section contains:
  - the title of a post
  - the original publication date
  - the most recent edit date
  - any tags

*/

.post-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 1em;
}

.tag-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  font-size: var(--step--1);
  font-family: var(--font-nav);
  gap: 0.5rem;
  padding: 0;
}

#date {
  font-size: var(--step--1);
  margin-bottom: 0.2rem;
}

ol li{
  margin-bottom: 6px;
}

.development-head {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1em;
}

.development-head-map-box {
  flex-grow: 1;
  border: solid #454138;
  border-width: 0.2rem;
  width: 100%;

}

#phase {
  font-weight: bold;
}


.development-head-title-box {
  flex-grow: 4;
  width: 100%;
  margin-bottom: 1em;
}

#map-box-head {
  height: 180px;
  width: 100%;
}

.development-project-table {
  border: none;
  width: 100%;
}

.development-project-table tr td {
  text-align: center;
}

.row-head {
  width: 40%;
}

.header-2 {
  font-family: var(--font-nav);
  font-weight: bold;
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  border: solid #454138;
  border-width: 0.1rem 0;
  /* top | right | bottom | left */
  padding: 0rem 1rem ;
}

.flex-phase {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.dropbtn {
  background-color: #454138;
  color: white;
  padding: .5rem 1rem .5rem 1rem;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}