:root {
  --rem: 16;
}

.current {
  color: #ffffff;
  background-color: #454138;
}

.non-current {
  color: #454138;
  background-color: #ffffff;
}

.demo {
  color: #454138;
  background-color: #f1f1f1;
}

body {
  font-family: 'Libre Baskerville';
  color: #000000;
  background-color: #ffffff;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.content {
  display: block;
  font-size: 22px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.home-page {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

.blog {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

.blog-list {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

.site-header {
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2.5em;
}

.site-title {
  font-size: 2em;
}

.nav-wrapper {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'JetBrains Mono';
  font-weight: lighter;
  border: solid #454138;
  border-width: 0.1rem 0;
  /* top | right | bottom | left */
  padding: 0rem 1rem ;
}

.nav-wrapper ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.nav-wrapper ul a {
  margin-right: 10px;
  appearance: none;
  text-decoration: none;
  margin: 0em;
  padding-block: 1px;
  padding-inline: 6px;
  height: 100%;
  padding: 15px 32px;
  cursor: pointer;
}

.nav-wrapper ul a:hover {
  margin-right: 10px;
  appearance: none;
  text-decoration: none;
  margin: 0em;
  padding-block: 1px;
  padding-inline: 6px;
  background-color: #454138;
  color: #dcd8c0;
  height: 100%;
  padding: 15px 32px;
  cursor: pointer;
}

.home-main {
  display: flex;
  flex-direction: column;
  flex: 3;
  flex-shrink: 0;
}

.home-side {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-shrink: 0;
  height: 1000px;
  margin-left: 1em;
}

p {
  margin: 0;
  margin-bottom: 1em;
}

a {
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #fffff5;
  background-color: #454138;
}

h2 {
  border-width: 0.1rem 0;
  padding: 0.1rem 1rem;
  margin-top: 0;
}

.post {
  flex: 1;
  margin-bottom: 1em;
}

.post-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.post-wrapper {
  justify-content: space-between;
  flex-wrap: wrap;

}

.post-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'JetBrains Mono';
  font-size: 16px;
  margin-top: 5px;
}

.post-title {
  font-size: 42px;
  margin: 0;
  padding: 0;
}

.post a{
  text-decoration: none;
  font-size: 24px;
}

.post-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

ol li{
  margin-bottom: 6px;
}